!!!
%html{lang: "en"}
  %head
    %title
      EasyRaceLapTimer

    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    %meta{name:"viewport", content:"width=device-width", "initial-scale"=>1}
    = render file: '/shared/_favicon'
  %body
    #host_data{"data-rails-cable-ip" => @RAILS_CABLE_IP}
    %navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            EasyRaceLapTimer
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a{href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown", role:"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
                Configuration
                %span.caret
              %ul.dropdown-menu
                %li
                  =link_to('System',{action: 'index',controller: '/system'})
                %li
                  =link_to('Pilots',{action: 'index',controller: '/system/pilot'})
                %li
                  =link_to('Soundeffects',{action: 'index',controller: '/system/soundfile'})
            %li
              =link_to('Monitor',{action: 'index',controller: '/monitor'})
            %li
              =link_to('Pilots',{action: 'index',controller: '/pilots'})
            %li
              =link_to('History',{action: 'index',controller: '/history'})
        / /.nav-collapse
    .container-fluid
      .row
        .col-xs-12.center
          - flash.each do |type, message|
            %div{class: "alert #{bootstrap_class_for(type)} alert-danger fade in"}
              %button.close{"data-dismiss" => "alert"} ×
              = message
      = yield
      = render file: '/shared/_footer'
    = javascript_include_tag 'application'
