%h1
  Pilots

%table.table.table-striped
  %thead
    %tr
      %th
      %th
        = t('pilot.name')
      %th
        = t('pilot.quad')
      %th
        = t('pilot.total_races')
      %th
        = t('pilot.total_laps')
  %tbody
    - @pilots.each do |pilot|
      %tr
        %td
          - if pilot.image
            = image_tag(pilot.image.url,width: 50,height:50)
        %td
          %strong
            = pilot.name
        %td
          %strong
            = pilot.quad
        %td
          %strong
            = pilot.total_races
        %td
          = link_to(pilot.total_laps,{action: 'laps', id: pilot.id},class: 'btn btn-primary')
