%ol.breadcrumb
  %li
    = link_to('Pilots',{action: 'index', controller: '/pilots'})

.row
  .col-md-3
    .row
      .col-xs-6.col-md-3
        - if @pilot.image
          = image_tag(@pilot.image.url,class: 'thumbnail',width: 173, height: 173)
  .col-md-6
    %h1
      = @pilot.name
    .small
      %strong
        = @pilot.quad

%table.table.table-striped
  %thead
    %tr
      %th Tracked on
      %th Race
      %th Lap Number
      %th Lap Time

  %tbody
    - @pilot.pilot_race_laps.order("id DESC").each do |lap_entry|
      %tr
        %td
          %strong
            = lap_entry.created_at.to_s(:long)
        %td
          %strong
            = lap_entry.race_session.title
        %td
          %strong
            = lap_entry.lap_num
        %td
          %strong
            = formated_lap_time(lap_entry.lap_time)
