%ol.breadcrumb
  %li
    = link_to('Pilots',{action: 'index', controller: '/pilots'})

.row
  .col-md-3
    .row
      .col-xs-6.col-md-3
        - if @pilot.image.url
          = image_tag(@pilot.image.url,class: 'thumbnail',width: 173, height: 173)
  .col-md-6
    %h1
      = @pilot.name
    .small
      %strong
        = @pilot.quad

%table.table.table-striped
  %thead
    %tr
      %th Tracked on
      %th Race
      %th Lap Number
      %th Lap Time
      %th

  %tbody
    - @pilot.pilot_race_laps.order("id DESC").each do |lap_entry|
      %tr{:class => ("invalidatedlap" if lap_entry.invalidated?)}
        %td
          %strong
            = lap_entry.created_at.to_s(:long)
        %td
          %strong
            = lap_entry.race_session.title
        %td
          %strong
            = lap_entry.lap_num
        %td
          %strong
            = formated_lap_time(lap_entry.lap_time)
        %td
          %strong
            = link_to_if(lap_entry.invalidated?, t('actions.undo_invalidate_lap'),{action: 'undo_invalidate_lap', controller: '/race_director', lapid:lap_entry.id},{class: 'btn btn-danger btn-large'}) do
              = link_to(t('actions.invalidate_lap'),{action: 'invalidate_lap', controller: '/race_director', lapid:lap_entry.id},{class: 'btn btn-danger btn-large'})
