%h1
  Race Event:
  = @current_race_event.title

.panel.panel-default
  .panel-body
    %strong
      Heat:
    = @current_race_event.current_heat

    %strong
      Current Group:
    - if @current_race_event.current_group
      = "Group #{@current_race_event.current_group.group_no}"

    %strong
      Next Group:
    - if @current_race_event.get_next_group_in_heat_for_racing
      = "Group #{@current_race_event.get_next_group_in_heat_for_racing.group_no}"

- if @current_race_event.get_next_group_in_heat_for_racing
  - if @current_race_session
    = link_to('Stop / Finish Race',url_for(action: 'stop_race_event_race'), class: 'btn btn-primary',"data-confirm" => 'stop / finish race?')
  - else
    = link_to('Start Next Race',url_for(action: 'start_next_race_event_race'), class: 'btn btn-primary',"data-confirm" => 'start next race?')
- else
  = link_to('Start Next Heat',url_for(action: 'start_next_race_event_heat'), class: 'btn btn-primary',"data-confirm" => 'start next race event heat?')
