%h1
  Soundfiles

%table.table.table-striped
  %thead
  %tbody
    - @soundfiles.each do |soundfile|
      = form_for(soundfile,url: {action: 'update', id: soundfile.id},html: {multipart: true}) do |f|
        %tr
          %td
            = soundfile.name
          %td
            = soundfile.file.path if soundfile.file
          %td
            = f.file_field :file
          %td
            = f.submit 'upload', class: 'btn btn-primary'
