%h1
  Configuration

.row
  .col-xs-12.col-md-12.col-sm-12.col-lg-12
    .panel.panel-default
      .panel-heading
        %h2
          Race Tracking
      .panel-body
        - if RaceSession::get_open_session
          .row
            .col-xs-12
              %strong
                %label{:for => "exampleInputName2"}
                  Active Session:
                = RaceSession::get_open_session.title
          .row
            .col-xs-12
              = link_to(t('actions.stop_race_session'),{action: 'stop_race_session'},{confirm: 'sure?',class: 'btn btn-danger btn-large'})
        - else
          = form_for(@race_session_prototype,url: {action: 'start_race_session'},html: {class: 'form-inline'}) do |f|
            .form-group
              %label{:for => "exampleInputName2"}
                = t('pilot.name')
              = f.text_field(:title, placeholder: "Awesome race", class: 'form-control', required: true)

            %button.btn.btn-success{:type => "submit"}
              = t('actions.start_race_session')

.row
  .col-xs-12.col-md-12.col-sm-12.col-lg-12
    .panel.panel-default
      .panel-heading
        %h2
          Other
      .panel-body
        = link_to(url_for(action: 'index', controller: '/system/pilot')) do
          %button.btn.btn-primary.btn-large
            Pilots Configuration
        = link_to(url_for(action: 'index', controller: '/system/soundfile')) do
          %button.btn.btn-primary.btn-large
            Sound Configuration
.row
  .col-xs-12.col-md-12.col-sm-12.col-lg-12
    = render partial: 'config_values'
.row
  .col-xs-12.col-md-12.col-sm-12.col-lg-12
    .panel.panel-default
      .panel-heading
        %h2
          Style Settings
      .panel-body
        = form_for(@style_setting,url: url_for(action: 'update_style')) do |f|
          .form-group
            %label{:for => ""}
              = t('style_setting.own_logo_image')
            = f.file_field :own_logo_image
            - if !@style_setting.own_logo_image.blank?
              = image_tag(@style_setting.own_logo_image.mini_thumb.url)
          = f.submit class: "btn btn-default"
.row
  .col-xs-12.col-md-12.col-sm-12.col-lg-12
    .panel.panel-default
      .panel-body
        = link_to('SHUTDOWN',{action: 'shutdown'},{"data-confirm" => 'shutting down system?',class: 'btn btn-large btn-danger'})
