%h1
  Configuration

.row
  .col-xs-6
    = link_to(url_for(action: 'index', controller: '/system/pilot')) do
      %button.btn.btn-large
        %i.fa.fa-gamepad.fa-6
          Pilots
  .col-xs-6
    - if RaceSession::get_open_session
      %label{:for => "exampleInputName2"}
        active Session
      = RaceSession::get_open_session.title
      = link_to(t('actions.stop_race_session'),{action: 'stop_race_session'},{confirm: 'sure?',class: 'btn btn-primary btn-large'})
    - else
      = form_for(@race_session_prototype,url: {action: 'start_race_session'},html: {class: 'form-inline'}) do |f|
        .form-group
          %label{:for => "exampleInputName2"}
            = t('pilot.name')
          = f.text_field(:title, placeholder: "Awesome race", class: 'form-control', required: true)

        %button.btn.btn-default{:type => "submit"}
          = t('actions.start_race_session')
