%strong
  = "Group #{group.group_no}"
- if group.current
  | RUNNING
- if group.heat_done
  | HEAT DONE
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        = "#"
      %th
        Pilot
      %th
        Team
      %th
        Pos
      %th
        TT
      %th
        FT
  %tbody
    - group.race_event_group_entries.each_with_index do |entry,index|
      %tr
        %td
          = index + 1
        %td
          = entry.pilot.name
        %td
          = entry.pilot.team
        %td
          = entry.placement
        %td
          = formated_lap_time(entry.total_time)
        %td
          = formated_lap_time(entry.fastest_lap_time)
