%strong
  = "Group #{group.group_no}"
- if group.current
  | RUNNING
- if group.heat_done
  | HEAT DONE

.pull-right
  .btn-group
    %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %i.glyphicon.glyphicon-pencil
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to('Invalidate Heat',{action: 'invalidate_heat_for_group', id: group.id},"data-confirm" => "Invildate heat for Group #{group.group_no}?")
      %li
        %a{:href => "#"} Move Pilot
      %li.divider{:role => "separator"}
      %li
        %a{:href => "#"} Show Race Session Results

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        = "#"
      %th
        Pilot
      %th
        Team
      %th
        Pos
      %th
        TT
      %th
        FT
  %tbody
    - group.race_event_group_entries.each_with_index do |entry,index|
      %tr
        %td
          = index + 1
        %td
          = entry.pilot.name
        %td
          = entry.pilot.team
        %td
          = entry.placement
        %td
          = formated_lap_time(entry.total_time)
        %td
          = formated_lap_time(entry.fastest_lap_time)
