%h1
  RaceEvents

=link_to('New RaceEvent',{action: 'new'}, class: 'btn btn-default')

%table.table.table-striped
  %thead
    %tr
      %th
        = "#"
      %th
        title
      %th
        pilots per group
      %th
        number of heats
      %th
  %tbody
    - @race_events.each do |event|
      %tr
        %td
          = event.id
        %td
          = event.title
        %td
          = event.number_of_pilots_per_group
        %td
          = event.number_of_heats
        %td
          = link_to('manage',{action: 'manage', id: event.id},{class: 'btn btn-primary'})
          = link_to('delete',{action: 'destroy', id: event.id},{method: 'delete', class: 'btn btn-warning',"data-confirm" => 'Sure?'})
