%h1
  RaceEvents

=link_to('New RaceEvent',{action: 'new'}, class: 'btn btn-default')

%table.table.table-striped
  %thead
  %tbody
    - @race_events.each do |event|
      %tr
        %td
          = event.id
        %td
          = event.title
        %td
          = event.number_of_pilots_per_group
        %td
          = event.number_of_heats
        %td
          = link_to('manage',{action: 'manage', id: event.id})
          = link_to('delete',{action: 'destroy', id: event.id},{method: 'delete'})
