- if @current_race_session.mode == "competition"
  .panel.panel-default
    .panel-body
      %strong
        Max Laps:
        = @current_race_session.max_laps
        Current Laps:
        = @current_race_session_adapter.current_lap_count
        Checkpoints:
        = @current_race_session.num_satellites.to_i
        Time penalty:
        = formated_lap_time(@current_race_session.time_penalty_per_satellite)

%h2
  Results

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        place
      %th
        race time
      %th
        pilot
      %th
        quad
      %th
        team
      %th
        fasted lap time
      %th
        last lap time
      %th
        laps
      %th
        avg lap time
      %th
        penalties
      %th
        penalty time
      %th
        time without penalties
  %tbody
    - @current_race_session_adapter.listing.each_with_index do |entry,index|
      %tr
        %td
          %strong
            = index + 1
        %td
          %strong
            = formated_lap_time(entry['race_time_sum_in_ms'])
        %td
          %strong
            = entry['pilot'].name
        %td
          %strong
            = entry['pilot'].quad
        %td
          %strong
            = entry['pilot'].team
        %td
          %strong
            = formated_lap_time(entry['fastest_lap']['lap_time'])
        %td
          %strong
            = formated_lap_time(entry['last_lap']['lap_time'])
        %td
          %strong
            = entry['lap_count']
        %td
          %strong
            = formated_lap_time(entry['avg_lap_time'])
        %td
          %strong
            = entry['num_time_penalties']
        %td
          %strong
            = formated_lap_time(entry['sum_time_penalties_in_ms'])
        %td
          %strong
            = formated_lap_time(entry['race_time_sum_in_ms_without_penalty'])
