
%ol.breadcrumb
  %li
    = link_to('History',{action: 'index', controller: '/history'})
  %li
    = @current_race_session.title

.row
  .col-md-4.col-md-offset-5
    - if !@style_setting.own_logo_image.blank?
      = image_tag(@style_setting.own_logo_image.thumb.url)

.row
  .col-xs-12
    = render file: 'history/_race_info_header'

- if @current_race_session.mode == "competition"
  = render file: '/shared/_table_race_results_competition_mode', locals: {race_session: @current_race_session, race_session_adapter: @current_race_session_adapter}
-else
  = render file: '/shared/_table_race_results_standard_mode', locals: {race_session: @current_race_session, race_session_adapter: @current_race_session_adapter}

-@current_race_session_adapter.pilot_ids.each do |pilot_id|
  - pilot = Pilot.find(pilot_id)
  %h2
    = pilot.name
    %small
      = pilot.quad
      = pilot.team

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          lap
        %th
          time
        %th
          penalties
        %th
          penalty time
        %th
    %tbody
      - @current_race_session.pilot_race_laps.where(pilot_id: pilot.id).order("lap_num ASC").each do |lap|
        %tr{:class => ("invalidatedlap" if lap.invalidated?)}
          %td
            = lap.lap_num
          %td
            = formated_lap_time(lap.lap_time)
          %td
            = @current_race_session_adapter.num_time_penalties_for_lap(pilot,lap.lap_num)
          %td
            = formated_lap_time(@current_race_session_adapter.num_time_penalties_for_lap(pilot,lap.lap_num) * @current_race_session.time_penalty_per_satellite)
          %td
            -if lap.invalidated
              = link_to({action: 'validate_lap', race_session_id: @current_race_session.id, id: lap.id},{class: 'btn btn-primary btn-xs'}) do
                %span.glyphicon.glyphicon-certificate
                Validate
            - else
              = link_to({action: 'invalidate_lap', race_session_id: @current_race_session.id, id: lap.id},{class: 'btn btn-primary btn-xs'}) do
                %span.glyphicon.glyphicon-remove-circle
                Invalidate
            - if lap.merged?
              = link_to('Unmerge',{action: 'unmerge', race_session_id: @current_race_session.id, id: lap.id})
            -else
              = link_to({action: 'merge_up', race_session_id: @current_race_session.id, id: lap.id},{class: 'btn btn-primary btn-xs'}) do
                %span.glyphicon.glyphicon-chevron-down
                Merge Up

              = link_to({action: 'merge_down', race_session_id: @current_race_session.id, id: lap.id},{class: 'btn btn-primary btn-xs'}) do
                %span.glyphicon.glyphicon-chevron-up
                Merge Down
