.row.visor_hide
  .col-md-4.col-md-offset-5
    - if !@style_setting.own_logo_image.blank?
      = image_tag(@style_setting.own_logo_image.thumb.url)

%h1.visor_hide
  =@current_race_session.title

- if @current_race_session.mode == "competition"
  .panel.panel-default.visor_hide
    .panel-body
      %strong
        Max Laps:
        = @current_race_session.max_laps
        Current Laps:
        = @current_race_session_adapter.current_lap_count
        Checkpoints:
        = @current_race_session.num_satellites.to_i
        Time penalty:
        = formated_lap_time(@current_race_session.time_penalty_per_satellite)

= render file: '/shared/_table_race_results_competition_mode', locals: {race_session: @current_race_session, race_session_adapter: @current_race_session_adapter}
