%h1
  edit pilot

%ol.breadcrumb
  %li
    = link_to('Configuration',{action: 'index', controller: '/system'})
  %li
    = link_to('Pilots',{action: 'index', controller: '/system/pilot'})

= form_for(@pilot,url: {action: 'update', id: @pilot.id},html: {class: ''}) do |f|
  .form-group
    %label{:for => "exampleInputName2"}
      = t('pilot.name')
    = f.text_field(:name, placeholder: "Jon Doe", class: 'form-control', required: true)
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.transponder_token')
    = f.text_field(:transponder_token, placeholder: "XXXXXX", class: 'form-control', required: true)
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.quad')
    = f.text_field(:quad, placeholder: "ZMR 250 4S", class: 'form-control')
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.team')
    = f.text_field(:team, placeholder: "", class: 'form-control', required: false)
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.image')
    = f.file_field(:image, class: 'form-control')
  %button.btn.btn-default.btn-primary{:type => "submit"}
    = t('actions.update')
