%h1
  Pilots

%ol.breadcrumb
  %li
    = link_to('Configuration',{action: 'index', controller: '/system'})

= form_for(@pilot_prototype,url: {action: 'create'},html: {class: 'form-inline'}) do |f|
  .form-group
    %label{:for => "exampleInputName2"}
      = t('pilot.name')
    = f.text_field(:name, placeholder: "Jon Doe", class: 'form-control', required: true)
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.transponder_token')
    = f.text_field(:transponder_token, placeholder: "XXXXXX", class: 'form-control', required: true)
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.quad')
    = f.text_field(:quad, placeholder: "ZMR 250 4S", class: 'form-control', required: true)
  .form-group
    %label{:for => "exampleInputEmail2"}
      = t('pilot.team')
    = f.text_field(:team, placeholder: "", class: 'form-control', required: false)
  %button.btn.btn-primary{:type => "submit"}
    = t('actions.create')

%table.table.table-striped
  %thead
    %tr
      %th
      %th
      %th
        = t('pilot.name')
      %th
        = t('pilot.transponder_token')
      %th
        = t('pilot.quad')
      %th
        = t('pilot.team')
      %th
  %tbody
    - @pilots.each do |pilot|
      %tr
        %td
          = pilot.id
        %td
          - if pilot.image
            = image_tag(pilot.image.url,width: 50,height:50)
        %td
          = pilot.name
        %td
          = pilot.transponder_token
        %td
          = pilot.quad
        %td
          = pilot.team
        %th
          = link_to(url_for(action: 'deactivate_token', id: pilot.id)) do
            %button.btn.btn-danger
              = t('actions.deactivate_token')
          = link_to(url_for(action: 'edit', id: pilot.id)) do
            %button.btn.btn-primary
              = t('actions.edit')
          = link_to(url_for(action: 'delete', id: pilot.id),{"data-confirm" => "Sure?", method: :delete}) do
            %button.btn.btn-warning
              = t('actions.delete')
