- if !@current_race_session
  %h1
    no open race session
- else
  %h1
    = @current_race_session.title

  %table.table.table-striped
    %thead
      %tr
        %th
          place
        %th

        %th
          pilot
        %th
          fasted lap time
        %th
          last lap time
        %th
          laps
    %tbody
      - @current_race_session.listing.each_with_index do |entry,index|
        %tr
          %td
            = index + 1
          %td
            = image_tag(entry['pilot'].image.url,width: 50,height: 50)
          %td
            = entry['pilot'].name
          %td
            = entry['fastest_lap']['lap_time'].to_f / 1000
          %td
            = entry['last_lap']['lap_time'].to_f / 1000
          %td
            = entry['lap_count']
